* {
	margin: 0 auto;
}



#revise_container{
	background-position: center;
	width: 360px;
	
	margin-top: 30px;	
}

#login_password {
	height: 50px;
	border-radius: 0;
	margin-top: 10px;
}

#form_container2 {
	width: 400px;
	height: 300px;
	border-bottom: 1px solid #FFFFFF;
}

.title{
	padding-top: 15px;
	font-size: 15px;
	height: 42px;
}

/* 娉ㄥ唽琛ㄥ崟 寮�濮� */
#old_password,
#new_password1,
#new_password2
{
	width: 330px;
	height: 42px;
	border-radius: 0;
	margin-top: 5px;
	float: right;
	
}

/*娉ㄥ唽鎸夐挳*/
#regist_btn{
	width: 330px;
	height: 40px;
	border-radius: 0;
	margin-top: 20px;
	float: right;
}
